/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

:root{
   --highlighted-text:#fff;
  --font-title-color: rgba(255, 255, 255, 0.534);/* колір шрифту назви та днів тиждня */
 --bg-color: #f2f2f2;/* колір фону */
 --table-border-color:#333; /*колір фону заголовку*/
 --link-color:rgb(45, 181, 124);/* колір посилань */
}

body {
	background-color: var(--bg-color);
	font-family: Arial, sans-serif;
}

header {
	background-color: var(--table-border-color);
	color: var(--highlighted-text);
	padding: 10px;
}

main {
	margin: 20px;
}

h1 {
	text-align: center;
	margin-bottom: 20px;
  font-size: 25px;
  font-weight: bold;
}

table {
  border-collapse: collapse;
	width: 100%;
}

table th, table td {
	padding: 8px;
	text-align: center;
  border: 1px solid black;
}

table th {
	background-color: var(--table-border-color);
	color: var(--font-title-color);
border: 1px var(--table-border-color);
}

table tr:nth-child(even) {
	background-color: var(--bg-color);
}

footer {
	background-color: var(--table-border-color);
	padding: 15px;
	text-align: center;
   color: var(--highlighted-text);
}

.day{
border: 1px solid var(--table-border-color);
  font-size: 30px;
  color: var(--font-title-color);
}

a{
color: var(--link-color);
}

a:hover{
   cursor: pointer;
}
nav  {
   display: flex;
      justify-content: space-between;
      font-size: 25px;
      color: var(--highlighted-text);
}
.weeklyValue{
margin: auto;
text-transform: uppercase;
font-weight: bold;

}
.date-time{
   font-size: 18px;
display: grid;
   grid-template-rows: auto auto;
} 
